{% extends 'base.html.twig' %}

{% block title %}Event List
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('style/event/show.css')}}">
	<link rel="stylesheet" href="{{asset('style/event/index.css')}}">

{% endblock %}

{% block body %}
	<div class="level_container">
		<a class="level" href="{{path('event.show' , {level:'B1'})}}">B1</a>
		<a class="level" href="{{path('event.show' , {level:'B2'})}}">B2</a>
		<a class="level" href="{{path('event.show' , {level:'B3'})}}">B3</a>
	</div>
	<div class="cours">
		<h2>Cours du {{today|date("d/m/Y")}}</h2>
			
		<table class="event_tab">
			<thead>	
				<tr> 
					<th>Niveau Classe </th>
					<th>Horaire</th>
					<th>Matière</th>
					<th>Professeur</th>
					<th>Salle de Cours</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			{% for event in events %}
				{% if (event.date|date("d/m/Y"))==(today|date('d/m/Y'))%}
				<tbody>
					<tr>
						<td>{{event.level|upper}}</td>
						<td>{{event.start|date('H:i')}}-{{event.finish|date('H:i')}}</td>
						<td>{{event.name}}</td>
						<td>{{event.teacher}}</td>
						<td>{{event.classroom}}</td>
						<td><form method="post" action="{{ path('event.delete', {id: event.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
                <button type="submit" class ="supp no-background">Supprimer</button>
            </form></td>

					</tr>
					</tbody>
				{% endif %}
			{% endfor %}
		</table>
			{% if events|length ===0 %}
		<p class='noEvent'>Pas de cours. Allez en créer un!</p>
		{% endif %}
	</div>
	<div class="cours">
		<h2>Cours du {{tomorrow|date("d/m/Y")}}</h2>
		<table class="event_tab">
			
			<thead>	
				<tr> 
					<th>Niveau Classe </th>
					<th>Horaire</th>
					<th>Matière</th>
					<th>Professeur</th>
					<th>Salle de Cours</th>
					<th>Supprimer</th>
					
				</tr>
			</thead>
			
				{% for event in events %}
					{% if (event.date|date("d/m/Y"))==(tomorrow|date('d/m/Y'))%}
						<tr>
							<td>{{event.level|upper}}</td>
							<td>{{event.start|date('H:i')}}-{{event.finish|date('H:i')}}</td>
							<td>{{event.name}}</td>
							<td>{{event.teacher}}</td>
							<td>{{event.classroom}}</td>
							<td><form method="post" action="{{ path('event.delete', {id: event.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
                <button type="submit" class ="supp no-background">Supprimer</button>
            </form></td>
						</tr>
					{% endif %}
						
				{% endfor %}
		</table>
		{% if events|length ===0 %}
		<p class='noEvent'>Pas de cours. Allez en créer un!</p>
		{% endif %}
	</div>

	<h2>Actus La Manu</h2>
	<div class="gallery actu_gallery"> 
	<div class="gallery_col">
	<h3> Funfact</h3>
	{% if facts|length ===0 %}
		<p class='noEvent'>Pas d'anecdote à La Manu. Allez en créer un!</p>
		{% endif %}
	{% for fact in facts %}
		<div class="card">
		<h4>{{fact.title}}</h4>
		<p>{{fact.description}}</p>
		<form method="post" action="{{ path('event.funfact.delete', {id: fact.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
                <button type="submit" class="supp">Supprimer</button>
            </form>
		</div>
	{% endfor %}
	</div>
	<div class="gallery_col">
	<h3> Actualité à La Manu</h3>
	<div class="gallery">
	{% if actus|length ===0 %}
		<p class='noEvent'>Pas d'actus à La Manu. Allez en créer un!</p>
	{% endif %}
	{% for actu in actus %}
		<div class="card">
		<p>{{actu.date|date("d/m/Y")}}</p>
		<h4>{{actu.title}}</h4>
		<p>{{actu.description}}</p>
		<form method="post" action="{{ path('event.actu.delete', {id: actu.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
                <button type="submit" class="supp">Supprimer</button>
            </form>
		</div>
	{% endfor %}
	</div>
	</div>
	
	
	</div>
	<h2>Actus à Compiègne</h2>
	<p>Nombre d'actu : {{actusCompiegne.channel.item|length}}</p>
	<div class="gallery"> 
	{% for actu in actusCompiegne.channel.item %}
        <a href=" {{actu.link}} " target="_blank" class="card actu">
            <p>Publie le
                {{actu.pubDate|date("d/m/Y ")}}</p>
            <h3 >{{actu.title|raw}}</h3>
        </a>

    {% endfor %}
</div>
{% endblock %}
