{% extends 'base.html.twig' %}

{% block title %}Event List
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('style/event/index.css')}}">

	<link rel="stylesheet" href="{{asset('style/event/show.css')}}">
{% endblock %}

{% block body %}
	<div class="level_container">
		<a class="level" href="{{path('event.show' , {level:'B1'})}}">B1</a>
		<a class="level" href="{{path('event.show' , {level:'B2'})}}">B2</a>
		<a class="level" href="{{path('event.show' , {level:'B3'})}}">B3</a>
	</div>
	<div class="cours">
		<h2>Cours du {{today|date("d/m/Y")}}</h2>
			
		<table class="event_tab">
			
			<thead>	
				<tr> 
					<th>Niveau Classe </th>
					<th>Horaire</th>
					<th>Matière</th>
					<th>Professeur</th>
					<th>Salle de Cours</th>
					
				</tr>
			</thead>
		{% for event in events %}
			{% if (event.date|date("d/m/Y"))==(today|date('d/m/Y'))%}
			<tbody>
				<tr>
					<td>{{event.level|upper}}</td>
					<td>{{event.start|date('H:i')}}-{{event.finish|date('H:i')}}</td>
					<td>{{event.name}}</td>
					<td>{{event.teacher}}</td>
					<td>{{event.classroom}}</td>
				</tr>
				</tbody>
			{% endif %}
				
		{% endfor %}
		</table>
	</div>
	<div class="cours">
		<h2>Cours du {{tomorrow|date("d/m/Y")}}</h2>
		<table class="event_tab">
			
			<thead>	
				<tr> 
					<th>Niveau Classe </th>
					<th>Horaire</th>
					<th>Matière</th>
					<th>Professeur</th>
					<th>Salle de Cours</th>
					
				</tr>
			</thead>
		{% for event in events %}
			{% if (event.date|date("d/m/Y"))==(tomorrow|date('d/m/Y'))%}
				<tr>
					<td>{{event.level|upper}}</td>
					<td>{{event.start|date('H:i')}}-{{event.finish|date('H:i')}}</td>
					<td>{{event.name}}</td>
					<td>{{event.teacher}}</td>
					<td>{{event.classroom}}</td>
				</tr>
			{% endif %}
				
		{% endfor %}
		</table>
	</div>

	<h2>Actus La Manu</h2>
	<div class="gallery"> 
	{% for fact in facts %}
		<div class="card">
		<h4>{{fact.title}}</h4>
		<p>{{fact.description}}</p>
		</div>
	{% endfor %}</div>
{% endblock %}
