{% extends 'base.html.twig' %}
{% block title %}
	Cours
	{{level}}
{% endblock %}

{% block style %}
	<style>
	.gallery{
		display:flex;
	}
	.card_event{
		
		width:30%;
		height:10rem;
		background:pink;
		border:solid 2px black;
		border-radius:1rem;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:1rem;
		margin:1rem;
	}
	.event_date{
		font-weight:700;
	}
	.event_name{
		text-decoration:underline;
	}
	</style>
{% endblock %}

{% block body%}
	<h1> Cours {{level}}</h1>
	<div class="gallery">
		{% for event in events %}
		<div class="card_event">
			<p class="event_date">Le {{event.date|date("d/m/Y")}} de {{event.start|date('H:i')}} à {{event.finish|date('H:i')}} </p>
			<h2 class ="event_name">{{event.name}}</h2>
			<p class="event_teacher">Prof : {{event.teacher}}</p>
			<p class="event_classroom"> Salle {{event.classroom}}</p>

		</div>
		{% endfor %}
	</div>
{% endblock %}
